*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu AU VIC WA NT Hand";
}

body{
    background: linear-gradient(to bottom, rgb(204, 123, 204), rgb(143, 45, 102))no-repeat center center/cover;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title-result{
    position: absolute;
    top: 0;
    margin-top: 100px;
    word-spacing: 5px;
}
.container{
    
    border: solid rgb(52, 12, 52) 2px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 3px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: -100px;
}

.row-container{
    /* border: 2px solid rgb(73, 53, 57); */
    display: flex;
    /* justify-content: space-between; */
    height: 33.3%;
} 

.box-container{
    width:100%;
    height: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(241, 12, 187);
    border-radius: 10px;
    box-shadow: 0 0 3px;
    margin-right: 5px;
    transition:  1.4s ease;
    cursor: pointer;
  
}

.box-container:hover{
    background: rgb(102, 29, 113,0.40);
}
.box-container:active{
    background: linear-gradient(to bottom, rgba(255, 192, 203,0.40), rgba(238, 130, 238,0.40));
}

.turn-container{
    display: flex;
    justify-content: center;
   position: absolute;
   top: 150px;
   font-size: 1.3rem;
   margin-top: 10px;
}


img{
    width: 100%;
}


.play-again-btn-container{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
   
}
#play-again{
    padding: 15px 20px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(255, 192, 203), rgb(238, 130, 238));
    border: 1px solid rgb(241, 12, 187);
    box-shadow: 0 0 3px;
    transition:  1.4s ease;
    cursor:pointer;
    display: none;
}

#play-again:hover{
    background: linear-gradient(to bottom, rgba(255, 192, 203,0.70), rgba(238, 130, 238,0.7));
}
#play-again:active{
    background: linear-gradient(to bottom, rgba(255, 192, 203,0.40), rgba(238, 130, 238,0.40));
}


